/*** DOCKS ***/

/*
* `.transparent-dash`
*/
.transparent-dash .dash-background,
#dash.transparent-dash > .dash-background.transparent-dash {
    background: transparent !important;
}

.transparent-dash.plank-like-dock-bg {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

/*
* `.light-dash`
*/
.light-dash .dash-background,
#dash.light-dash > .dash-background.light-dash {
    background: rgba(255, 255, 255, 0.58) !important;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.light-dash.plank-like-dock-bg {
    background: rgba(255, 255, 255, 0.58) !important;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    box-shadow: none !important;
}

/*
* `.dark-dash`
*/
.dark-dash .dash-background,
#dash.dark-dash > .dash-background.dark-dash {
    background: rgba(45, 45, 50, 0.22) !important;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.dark-dash.plank-like-dock-bg {
    background: rgba(45, 45, 50, 0.22) !important;
    border: 1px solid rgba(255, 255, 255, 0.05) !important;
    box-shadow: none !important;
}
