/*** DASH-TO-DOCK ***/

/*
* `.transparent-dash`
*/
.transparent-dash .dash-background {
    background-color: transparent !important;
}

/*
* `.light-dash`
*/
.light-dash .dash-background {
    background-color: rgba(200, 200, 200, 0.2) !important;
}

/*
* `.dark-dash`
*/
.dark-dash .dash-background {
    background-color: rgba(100, 100, 100, 0.35) !important;
}


