#panel.transparent-panel {
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 500ms;
}
.app-folder {
    background-color: rgba(0, 0, 0, 0.12);
}
.transparent-app-folder-dialogs {
    background-color: rgba(0, 0, 0, 0);
}
.transparent-app-folder-dialogs .edit-folder-button {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 19px; 
}