/*** APPFOLDER DIALOG ***/

/*
* `.appfolder-dialogs-transparent`
*/

.appfolder-dialogs-transparent {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}

.appfolder-dialogs-transparent .folder-name-entry {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
}

/*
* `.appfolder-dialogs-light`
*/

.appfolder-dialogs-light {
    background-color: rgba(200, 200, 200, 0.2);
    border: none;
    box-shadow: none;
}

.appfolder-dialogs-light .folder-name-entry {
    color: white;
    background-color: rgba(200, 200, 200, 0.2);
    border: 0;
    box-shadow: none;
}


/*
* `.appfolder-dialogs-dark`
*/

.appfolder-dialogs-dark {
    background-color: rgba(100, 100, 100, 0.35);
    border: none;
    box-shadow: none;
}

.appfolder-dialogs-dark .folder-name-entry {
    color: white;
    background-color: rgba(100, 100, 100, 0.35);
    border: 0;
    box-shadow: none;
}


